*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    margin-left: 2rem;
    width: 600px;
    background-color: #A0CFD3;
    padding: 4rem;
    border-radius: 2rem;
}